
.logo img{
    width: 100px;
    height: 20px;
}
.sec-top1{
    background-image: url(../img/RWKHu9.jpeg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-top1-2{
    background-image: url(../img/RE2OLdz.jpeg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-background{
    background-color: rgba(205, 207, 214, 0.6);
}
.remargin{
    margin-left: -5px;
}
.footicon{
    margin-left: -20px;
    margin-right: 10px;
}
.footicon .ion-icon{
    transform: scale(2);
}
.l-facebook{
    color: #4267B2;
}
.l-twitter{
    color: #1DA1F2;
}
.l-linkedin{
    color: #0e76a8;
}
.width-1600{
    width: 1600px;
}
  .width-1400{
    width: 1400px;
}