/* Base styles */
:root{
    --whitecolor: white;
    --backcolor: rgb(150, 157, 175, 1);
    --maincolor: rgba(80, 86, 102, 1);
    --blackcolor: rgb(0, 0, 0);
}

@font-face {
    font-family: Electra;
    src: url(../fonts/ElectraLTStd-Regular.otf);
}
@font-face {
    font-family: GraphikLight;
    src: url(../fonts/GraphikLight.otf);
}
@font-face {
    font-family: GraphikMedium;
    src: url(../fonts/GraphikMedium.otf);
}
@font-face {
    font-family: GraphikRegular;
    src: url(../fonts/GraphikRegular.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-weight: normal;
    background-color: var(--whitecolor);
    color: var(--blackcolor);
    font-size: 1rem;
    line-height: 1.5;
}
.group::after
{
clear: both;
content: ".";
display: block;
height: 0px;
line-height: 0px;
visibility: hidden;
}
h1{
    font: 700 2.5rem/40px 'GraphikMedium', sans-serif;
    letter-spacing: 2px;
}
h2{
    font: 600 2rem/0px 'GraphikMedium', sans-serif;
    letter-spacing: 1px;
}
h3{
    font: 500 1.5rem/40px 'GraphikMedium', sans-serif;
}
h4{
    font: 500 1rem/25px 'GraphikRegular', sans-serif;
}
h5{
    font: 500 0.9rem/25px 'GraphikRegular', sans-serif;
}
p{
    font: 400 1rem/40px 'Electra', serif;
    letter-spacing: 1px;
}
/* Font Size */
.large-font{
    font-size: 18px;
}
.medium-font{
    font-size: 16px;
}
.small-font{
    font-size: 14px;
}
.xsmall-font{
    font-size: 12px;
}
/* Font Weight */
.font-wt-100{
    font-weight: 100;
}
.font-wt-200{
    font-weight: 200;
}
.font-wt-300{
    font-weight: 300;
}
.font-wt-400{
    font-weight: 400;
}
.font-wt-500{
    font-weight: 500;
}
.font-wt-600{
    font-weight: 600;
}
.font-wt-700{
    font-weight: 700;
}
.font-wt-800{
    font-weight: 800;
}
.font-wt-900{
    font-weight: 900;
}

/* Text */
.text-center{
    text-align: center;
}
.text-color-white{
    color: white;
}
.text-color-black{
    color: var(--blackcolor);
}

/* Background */
.black-background{
    background-color: var(--blackcolor);
}
.white-background{
    background-color: var(--whitecolor);
}
