/* ==== Root ==== */
:root{
  --whitecolor: white;
  --backcolor: rgb(150, 157, 175, 1);
  --maincolor: rgba(80, 86, 102, 1);
  --blackcolor: rgb(0, 0, 0);
}

section{
  display: grid;
}
.container{
  padding-top: 10px;  
  width: 100%;
}
.header {
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--maincolor);
}
.footer{
  width: 100%;
}
.inline-block-display {
  display: inline-block;
}
.block-display {
  display: block;
}
.logo{
  width: 130px;
  height: 30px;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}
/* Button */
.button-plain {
  padding: 5px 10px;
  text-align: center;
  font-weight: 400;
  font-family: 'GraphikRegular', sans-serif;
}
.button-anchor {
  font-weight: 400;
  font-family: 'GraphikRegular', sans-serif;
  padding: 10px 5px;
  transition: all 0.5s;
}
.button-anchor-text{
  text-align: center;
}
.button-anchor:hover .button-anchor-text{
  margin-left: -5px;
}
.button-anchor:hover .button-anchor-icon > .ion-icon {
  transform: translateX(5px);
}

.underline-text:hover {
  text-decoration-line: underline;
}
.underline-text-white{
  text-underline-offset: 2px;
  text-decoration-line: none;
  transition: all 0.5s;
}
.underline-text-white:hover {
  text-decoration-color: var(--whitecolor);
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
}
.underline-text-black{
  text-underline-offset: 2px;
  text-decoration-line: none;
  transition: all 0.5s;
}
.underline-text-black:hover {
  text-decoration-color: var(--blackcolor);
  text-decoration-thickness: 2px;
  text-decoration-line: underline;
}


/* Card */
.card{
  height: 100%;
}
.card-image{
  height: 40%;
}
.card-text{
  height: 60%;
}
.card-image img{
  width: 100%;
  height: 100%;
}


/* Padding */
.pad-max{
  padding: 15%;
}
.pad-med{
  padding: 7%;
}
.pad-sm{
  padding: 5%;
}
.pad-xsm{
  padding: 2%;
}
.pad-lr-max{
  padding: 0 15%;
}
.pad-lr-med{
  padding: 0 7%;
}
.pad-lr-sm{
  padding: 0 5%;
}
.pad-lr-xsm{
  padding: 0 2%;
}
.pad-tb-max{
  padding: 15% 0;
}
.pad-tb-med{
  padding: 7% 0;
}
.pad-tb-sm{
  padding: 5% 0;
}
.pad-tb-xsm{
  padding: 2% 0;
}

 /* Margin */
.margin-max{
  margin: 100px;
}
.margin-med{
  margin: 50px;
}
.margin-sm{
  margin: 20px;
}
.margin-xsm{
  margin: 10px;
}
.margin-lr-max{
  margin: 0 100px;
}
.margin-lr-med{
  margin: 0 50px;
}
.margin-lr-sm{
  margin: 0 20px;
}
.margin-lr-xsm{
  margin: 0 10px;
}
.margin-tb-max{
  margin: 100px 0;
}
.margin-tb-med{
  margin: 50px 0;
}
.margin-tb-sm{
  margin: 20px 0;
}
.margin-tb-xsm{
  margin: 10px 0;
}
/* Setting Height */
.height-100-per{
  height: 100%;
}
.height-90-per{
  height: 90%;
}
.height-80-per{
  height: 80%;
}
.height-70-per{
  height: 70%;
}
.height-60-per{
  height: 60%;
}
.height-50-per{
  height: 50%;
}
.height-40-per{
  height: 40%;
}
.height-30-per{
  height: 30%;
}
.height-20-per{
  height: 20%;
}
.height-10-per{
  height: 10%;
}
.height-0-per{
  height: 0%;
}
.height-500{
  height: 500px;
}
.height-450{
  height: 450px;
}
.height-400{
  height: 400px;
}
.height-350{
  height: 350px;
}
.height-300{
  height: 300px;
}
.height-250{
  height: 250px;
}
.height-200{
  height: 200px;
}
.height-150{
  height: 150px;
}
.height-100{
  height: 100px;
}

/* Setting Width */
.width-100-per{
  width: 100%;
}
.width-90-per{
  width: 90%;
}
.width-80-per{
  width: 80%;
}
.width-70-per{
  width: 70%;
}
.width-60-per{
  width: 60%;
}
.width-50-per{
  width: 50%;
}
.width-40-per{
  width: 40%;
}
.width-30-per{
  width: 30%;
}
.width-20-per{
  width: 20%;
}
.width-10-per{
  width: 10%;
}
.width-0-per{
  width: 0%;
}
.width-500{
  width: 500px;
}
.width-450{
  width: 450px;
}
.width-400{
  width: 400px;
}
.width-350{
  width: 350px;
}
.width-300{
  width: 300px;
}
.width-250{
  width: 250px;
}
.width-200{
  width: 200px;
}
.width-170{
  width: 170px;
}
.width-150{
  width: 150px;
}
.width-125{
  width: 125px;
}
.width-100{
  width: 100px;
}